<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <style>
        table, tr, th, td {
            border: 0;
        }
        th, td {
            padding: 4px;
        }
    </style>
</head>
<body>
    <h2><u>Contact Form from website respectudental.com</u></h2>
    <table>
        <tr>
            <th>Doctor's Name:</th>
            <td>{{DOCTORS_NAME}}</td>
        </tr>
        <tr>
            <th>Clinic Name:</th>
            <td>{{CLINIC_NAME}}</td>
        </tr>
        <tr>
            <th>Email Address:</th>
            <td>{{EMAIL_ADDRESS}}</td>
        </tr>
        <tr>
        <tr>
            <th>Department:</th>
            <td>{{DEPARTMENT}}</td>
        </tr>
        <tr>
            <th>Message:</th>
            <td>{{TEXT_MESSAGE}}</td>
        </tr>
    </table>
</body>
</html>