.main-banner-section {
  border-bottom: 1px solid #C0C5CC;
  padding: 36px 0;
  background-color: #fff;

  @media (min-width: 1280px) {
    padding: 66px 0 106px 0;
    background-color: #F8FAFC;
  }

  @media (max-width: 1279px) {
    .btn-main, .btn-default {
      width: 100%;
      margin-top: 12px;
    }
  }
}

.main-banner {
  color: #475569;

  &__left {
    @media (min-width: 1280px) {
      max-width: 590px;
    }
  }

  &__right {
    width: 100%;
    height: 155px;

    @media (min-width: 768px) {
      height: 300px;
    }

    @media (min-width: 1280px) {
      width: 585px;
      height: 500px;
    }

    img {
      border-radius: 16px;
      border: 1px solid #C0C5CC;
      box-shadow: 0 26px 46px -12px #0F172A38;
    }
  }

  h1 {
    font-size: 34px;
    line-height: 39px;
    font-weight: bold;
    color: #0F1A1D;

    @media (min-width: 1280px) {
      font-size: 48px;
      line-height: 100%;
    }
  }
}

.laboratory-info {
  grid-gap: 24px;

  @media (min-width: 1280px) {
    grid-gap: 88px;
  }

  &__img {
    @media (min-width: 1280px) {
      width: 50%;
    }
  }

  &__img-wrap {
    width: 100%;
    height: 275px;

    @media (min-width: 1280px) {
      height: 450px;
    }

    img {
      border-radius: 16px;
      border: 1px solid #C0C5CC;
      box-shadow: 0 26px 46px -12px #0F172A38;
    }
  }

  &__side-text {
    border-left: 4px solid #228B22;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 24px;
    color: #475569;
    background-color: #F8FAFC;

    h4 {
      font-size: 21px;
      line-height: 24px;
      font-weight: bold;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    color: #475569;
  }

  &__quote {
    border-radius: 8px;
    padding: 16px;
    font-weight: bold;
    color: #0F1A1D;
    border: 1px solid #C0C5CC;
    background-color: #CFF6F4;
  }

  &__logos {
    h5 {
      font-size: 18px;
      line-height: 28px;
    }

    .logo-wrap {
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        right: -16px;
        width: 1px;
        height: 20px;
        background-color: #C0C5CC;
        display: none;
      }

      @media (max-width: 500px) {
        padding: 0 32px;
      }

      @media (max-width: 500px) {
        &:nth-of-type(1)::after,
        &:nth-of-type(3)::after {
          display: block;
        }
      }

      @media (min-width: 501px) {
        &:not(:last-of-type)::after {
          display: block;
        }
      }
    }

    .svg-icon {
      position: relative;
      font-size: 64px;
    }
  }
}

.color-text {
  color: #20B2AA;
}

.expertise-section {
  border-bottom: 1px solid #C0C5CC;
  padding-top: 48px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #475569;
  background-color: #F8FAFC;

  @media (min-width: 128px) {
    padding-top: 115px;
    padding-bottom: 48px;
  }
}

.expertise-card {
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  
  @media (min-width: 1280px) {
    width: 50%;
  }

  &__img {
    width: 100%;
    height: 215px;

    @media (min-width: 1280px) {
      height: 360px;
    }

    img {
      border-radius: 16px;
    }
  }

  h5 {
    font-size: 21px;
    line-height: 24px;
  }

  a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #0F766E;
  }
}

.technologies-section {
  padding-top: 24px;
  padding-bottom: 56px;

  @media (min-width: 1280px) {
    padding-top: 114px;
    padding-bottom: 114px;
  }
}

.technologies-item {
  width: 100%;

  @media (min-width: 1280px) {
    width: 50%;
  }
}

.technologies-analysis-wrap {
  border-radius: 12px;
  border: 1px solid #C0C5CC;
  padding: 24px 20px;

  @media (min-width: 1280px) {
    padding: 40px 20px 64px 50px;
  }

  h5 {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    color: #64748B;

    @media (min-width: 1280px) {
      margin-bottom: 64px;
      font-size: 13px;
      line-height: 14px;
    }
  }
}

.technologies-analysis {
  h6 {
    width: 70px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #475569;

    @media (min-width: 1280px) {
      width: 190px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__item:not(:last-of-type) {
    margin-bottom: 16px;

    @media (min-width: 1280px) {
      margin-bottom: 56px;
    }
  }

  &__item-bar-wrap {
    border-radius: 3px;
    width: 100%;
    background-color: #EFF6FF;
  }

  &__item-bar {
    border-radius: 3px;
    padding: 6px 11px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    transition: width 1.5s ease;

    @media (min-width: 1280px) {
      padding: 10px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.banner-buttons {
  @media (min-width: 1280px) {
    position: absolute;
    bottom: 70px;
    left: 0;
  }
}

.slide {
  animation: slideCrossfade 6s infinite ease-in-out;
}

.slideA {
  animation-delay: 0s;
}

.slideB {
  animation-delay: -3s; /* сдвиг фазы ровно на полцикла */
}

@keyframes slideCrossfade {
  0%, 35% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-6%);
    opacity: 0;
  }
  85% {
    transform: translateX(6%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//@media (prefers-reduced-motion: reduce) {
//  .slide {
//    animation: none;
//  }
//  .slideB {
//    opacity: 0; /* оставляем только первую картинку статично */
//  }
//}