h1 {
  font-size: 34px;
  line-height: 39px;
  font-weight: bold;
  color: #0F1A1D;

  @media (min-width: 1280px) {
    font-size: 48px;
    line-height: 100%;
  }
}

.container {
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 24px;
}

.svg-icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.pointer {
  cursor: pointer;
}

.fake-link-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: transparent !important;
  &:hover, &:focus {
    color: transparent !important;
    text-decoration: none;
  }
}

.btn-main, .btn-default {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: all .2s;
}

.btn-main {
  color: #fff;
  background-color: #20B2AA;
  box-shadow: 0 12px 22px -8px #0F766E3D;
  &:hover {
    background-color: #18807A;
    box-shadow: none;
  }
}

.btn-default {
  border: 1px solid #C0C5CC;
  color: #1E293B;
  background-color: #fff;
}

.sticker-item {
  border-radius: 17px;
  border: 1px solid #20B2AA;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  color: #475569;
  background-color: #CFF6F4;
  transition: all .2s;

  &.dark {
    border-radius: 4px;
    border: 0;
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
    color: #F8FAFC;
    background-color: #64748B;
  }
}

.section-title {
  font-size: 34px;
  line-height: 39px;
  font-weight: bold;

  @media (min-width: 1280px) {
    font-size: 40px;
    line-height: 47px;
  }
}

.section-title-center {
  position: relative;
  padding-bottom: 16px;
  font-size: 34px;
  line-height: 39px;
  font-weight: bold;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 4px;
    background-color: #20B2AA;
    transform: translateX(-50%);
  }

  @media (min-width: 1280px) {
    font-size: 48px;
    line-height: 100%;
  }
}

.section-padding {
  padding: 36px 0;

  @media (min-width: 1280px) {
    padding: 120px 0;
  }
}

.section-padding-small {
  padding: 36px 0;

  @media (min-width: 1280px) {
    padding: 64px 0;
  }
}

.terms-of-service-section {
  font-size: 16px;
  line-height: 24px;

  h1 {
    font-size: 34px;
    line-height: 39px;
  }

  ul {
    padding-left: 24px;
    margin-bottom: 24px;
    list-style: circle;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
  }

  p {
    margin-bottom: 24px;
  }

  a {
    text-decoration: underline;
  }
}

.breadcrumbs {
  padding: 10px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  .svg-icon {
    font-size: 24px;
    color: #475569;
  }
}

.page-loader-mask {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .55);
  z-index: 10;
  &.color-inherit {
    background-color: inherit;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  img {
    position: fixed;
    top: 50%;
    animation: rotate 1s linear infinite;
  }
}